.container {
  position: relative;
}

.menuButton {
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  background: #0088cc;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* hidden initially */
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.open {
  left: 0; /* slides in when open */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  border-radius: 10px;
 
 
  
  
}
.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuList li {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
}

.menuList li span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar ul li:hover{
  background-color:#0088cc ;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  margin-bottom: 20px;
  color: #333;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}
